.pioenvs
.piolibdeps
.cache
CMakeListsPrivate.txt
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/clion.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/platformio.iml
/.idea/serialmonitor_settings.xml
/.idea/trx_frontend.iml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/cmake-build-debug/
/cmake-build-default/
/cmake-build-minsizerel/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/cmake-build-genericstm32f303cc/CMakeFiles/Upload.dir/build.make
/cmake-build-genericstm32f303cc/CMakeFiles/Upload.dir/cmake_clean.cmake
/cmake-build-genericstm32f303cc/CMakeFiles/Upload.dir/depend.internal
/cmake-build-genericstm32f303cc/CMakeFiles/Upload.dir/depend.make
/cmake-build-genericstm32f303cc/CMakeFiles/Upload.dir/DependInfo.cmake
/cmake-build-genericstm32f303cc/CMakeFiles/Upload.dir/progress.make
/cmake-build-genericstm32f427vgt/CMakeFiles/Upload.dir/build.make
/cmake-build-genericstm32f427vgt/CMakeFiles/Upload.dir/cmake_clean.cmake
/cmake-build-genericstm32f427vgt/CMakeFiles/Upload.dir/depend.internal
/cmake-build-genericstm32f427vgt/CMakeFiles/Upload.dir/depend.make
/cmake-build-genericstm32f427vgt/CMakeFiles/Upload.dir/DependInfo.cmake
/cmake-build-genericstm32f427vgt/CMakeFiles/Upload.dir/progress.make
/cmake-build-genericstm32f427vgt/CMakeFiles/Debug.dir/depend.internal
/cmake-build-genericstm32f427vgt/CMakeFiles/Debug.dir/depend.make
/cmake-build-genericstm32f427vgt/
/cmake-build-genericstm32f303cc/
/.pio/
/cmake-build-genericstm32f427vgt-mingw/
.gitignore
CMakeFiles/3.22.1/CompilerIdCXX/a.out
CMakeFiles/3.22.1/CompilerIdC/
CMakeLists.txt.bak
build
