
# STM32F427 OpenOCD configuration
source [find interface/stlink.cfg]
source [find target/stm32f4x.cfg]

init
reset halt

flash write_image erase /home/ahcr/dev/trx/.pio/build/genericSTM32F427VGT/firmware.bin 0x08000000
reset run
shutdown
