
# STM32F427 OpenOCD configuration
source [find interface/stlink.cfg]
source [find target/stm32f4x.cfg]

init
reset halt

flash write_image /tmp/tmpv_vwfb9x/block_0000.bin 0x0801c000

flash write_image /tmp/tmpv_vwfb9x/block_0001.bin 0x0801e000

flash write_image /tmp/tmpv_vwfb9x/block_0002.bin 0x08036000

flash write_image /tmp/tmpv_vwfb9x/block_0003.bin 0x08089000

reset run
shutdown
